.button {
  border-radius: 8px;
  padding: 8px 30px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
.accent:hover {
  background-color: #0b106b;
}
.accent {
  background-color: #312eb5;
}
